---

---

<!-- #footer -->
<div id="footer">
  <!-- .pagetop -->
  <div class="pagetop"></div><!-- /.pagetop -->
  <div class="footer_whole">
    <div class="footer_inner clearfix">
      <div class="fnav01">
        <!-- <p class="fn_thissite">THIS SITE</p> -->
        <ul class="fnav">
          <!-- <li><a href="https://store.world.co.jp/s/brand/grove/?link_id=${area.value.option06}_F_home">HOME</a></li> -->
          <li><a href="https://store.world.co.jp/s/brand/grove/snap-search.html?label=BR768&link_id=${area.value.option06}_F_snapstyling">STAFF SNAP</a></li>
          <li><a href="https://store.world.co.jp/s/brand/grove/item-review-search.html?label=BR768&link_id=${area.value.option06}_F_itemsnap">ITEM SNAP</a></li>
          <li><a href="https://store.world.co.jp/s/brand/grove/search?rd=02&so=RCMD&link_id=${area.value.option06}_F_preorder">PRE ORDER</a></li>
          <li><a href="https://store.world.co.jp/s/brand/grove/news/?link_id=${area.value.option06}_F_news">NEWS</a></li>
          <li><a href="https://store.world.co.jp/s/brand/grove/blog-search.html?label_code=BR768&link_id=${area.value.option06}_F_shopblog">BLOG</a></li>
          <li><a href="https://store.world.co.jp/real-store-search?pcf=1&br=BR768,SH030&link_id=${area.value.option06}_F_shoplist">SHOP LIST</a></li>
          <li><a href="https://store.world.co.jp/s/brand/grove/concept/?link_id=${area.value.option06}_F_concept">CONCEPT</a></li>
          <!--<li><a href="https://store.world.co.jp/s/brand/grove/shopblog/?link_id=${area.value.option06}_F_shopblog">SHOP BLOG</a></li>-->
          <!-- <li>STYLING</li> -->
          <!-- <li>&nbsp;&nbsp;<a href="https://store.world.co.jp/s/brand/grove/styling/brand/?link_id=${area.value.option06}_F_brandstyling">-BRAND STYLING</a></li> -->
          <!--<li><a href="https://store.world.co.jp/s/brand/grove/lookbook/2020/spring/?link_id=${area.value.option06}_F_lookbook_1">LOOKBOOK</a></li>-->
          <li class="other"><a href="https://world-sp-recruit.net/jobfind-pc/area/All?brand=26&link_id=${area.value.option06}_F_shopstaff" target="_blank">SHOP STAFF募集</a></li>
        </ul>
      </div><!-- /.fnav01 -->

      <div class="fnav02 clearfix">
        <!-- <p class="fn_shopping">SHOPPING</p> -->
        <ul class="fnav fnav02_con_l">
          <li><a href="https://store.world.co.jp/s/brand/grove/search?so=NEW&st=1&link_id=${area.value.option06}_F_shopping_newitem">新着アイテム</a></li>
          <li><a href="https://store.world.co.jp/s/brand/grove/ranking/?link_id=${area.value.option06}_F_shopping_ranking">ランキング</a></li>
          <!-- <li><a href="https://store.world.co.jp/s/brand/grove/pickupitem/?link_id=${area.value.option06}_F_pickupitem">ピックアップアイテム</a></li> -->
          <li><a href="https://store.world.co.jp/s/brand/grove/sale/search?so=NEW&link_id=${area.value.option06}_F_shopping_sale" style="color: #e7271f;">SALE</a></li>
          <!-- <li class="other"><a href="https://store.world.co.jp/s/brand/grove/search?pu=1000&so=NEW&link_id=${area.value.option06}_F_price01">&#92;1,000以下</a></li>
          <li><a href="https://store.world.co.jp/s/brand/grove/search?pl=1001&pu=2000&so=NEW&link_id=${area.value.option06}_F_price02">&#92;1,001～&#92;2,000</a></li>
          <li><a href="https://store.world.co.jp/s/brand/grove/search?pl=2001&pu=3000&so=NEW&link_id=${area.value.option06}_F_price03">&#92;2,001～&#92;3,000</a></li>
          <li><a href="https://store.world.co.jp/s/brand/grove/search?pl=3001&pu=4000&so=NEW&link_id=${area.value.option06}_F_price04">&#92;3,001～&#92;4,000</a></li>
          <li><a href="https://store.world.co.jp/s/brand/grove/search?pl=4001&pu=6000&so=NEW&link_id=${area.value.option06}_F_price05">&#92;4,001～&#92;6,000</a></li>
          <li><a href="https://store.world.co.jp/s/brand/grove/search?pl=6001&pu=8000&so=NEW&link_id=${area.value.option06}_F_price06">&#92;6,001～&#92;8,000</a></li>
          <li><a href="https://store.world.co.jp/s/brand/grove/search?pl=8001&pu=10000&so=NEW&link_id=${area.value.option06}_F_price07">&#92;8,001～&#92;10,000</a></li>
          <li><a href="https://store.world.co.jp/s/brand/grove/search?pl=10001&so=NEW&link_id=${area.value.option06}_F_price08">&#92;10,001以上</a></li> -->
        </ul>
        <ul class="fnav fnav02_con_c">
          <li><a href="https://store.world.co.jp/s/brand/grove/search?so=NEW&link_id=${area.value.option06}_F_shopping01">すべてのアイテム</a></li>
          <li><a href="https://store.world.co.jp/s/brand/grove/category/WB/?so=NEW&link_id=${area.value.option06}_F_shopping02">トップス</a></li>
          <li><a href="https://store.world.co.jp/s/brand/grove/category/WD/?so=NEW&link_id=${area.value.option06}_F_shopping04">スカート</a></li>
          <li><a href="https://store.world.co.jp/s/brand/grove/category/WA/?so=NEW&link_id=${area.value.option06}_F_shopping06">ジャケット</a></li>
          <li><a href="https://store.world.co.jp/s/brand/grove/category/WK/?so=NEW&link_id=${area.value.option06}_F_shopping08">バッグ</a></li>
          <li><a href="https://store.world.co.jp/s/brand/grove/category/WM/?so=NEW&link_id=${area.value.option06}_F_shopping10">アクセサリー</a></li>
          <li><a href="https://store.world.co.jp/s/brand/grove/category/WL/?so=NEW&link_id=${area.value.option06}_F_shopping12">帽子</a></li>
          <!-- <li><a href="https://store.world.co.jp/s/brand/grove/category/AB/?so=NEW&link_id=${area.value.option06}_F_shopping14">ライフグッズ</a></li>
          <li class="other"><a href="https://store.world.co.jp/help/?link_id=${area.value.option06}_F_shoppingguide">SHOPPING GUIDE</a></li>
          <li><a href="#sizelist" class="size-pop">SIZE LIST</a></li> -->
        </ul>
        <ul class="fnav fnav02_con_r">
          <li>&nbsp;</li>
          <li><a href="https://store.world.co.jp/s/brand/grove/category/WC/?so=NEW&link_id=${area.value.option06}_F_shopping03">ワンピース</a></li>
          <li><a href="https://store.world.co.jp/s/brand/grove/category/WE/?so=NEW&link_id=${area.value.option06}_F_shopping05">パンツ</a></li>
          <li><a href="https://store.world.co.jp/s/brand/grove/category/WA/?so=NEW&link_id=${area.value.option06}_F_shopping07">コート</a></li>
          <li><a href="https://store.world.co.jp/s/brand/grove/category/WJ/?so=NEW&link_id=${area.value.option06}_F_shopping09">シューズ</a></li>
          <li><a href="https://store.world.co.jp/s/brand/grove/search?it=WN,WP,WO&so=NEW&link_id=${area.value.option06}_F_shopping11">ファッション雑貨</a></li>
          <li><a href="https://store.world.co.jp/s/brand/grove/category/WM/WM07/?so=NEW&link_id=${area.value.option06}_F_shopping13">ヘアアクセサリー</a></li>
          <!-- <li><a href="https://store.world.co.jp/s/brand/grove/category/WT/?so=NEW&link_id=${area.value.option06}_F_shopping15">ビューティー</a></li> -->
        </ul>
      </div><!-- /.fnav02 -->

      <div class="sns">
        <ul>
          <li class="instagram"><a href="https://www.instagram.com/grove_jp/" target="_blank">instagram</a></li>
          <li class="tweet"><a href="https://twitter.com/grove_jp" target="_blank">tweet</a></li>
          <li class="line"><a href="https://line.me/R/ti/p/%40pem9992o" target="_blank">LINE@</a></li>
          <li class="wear"><a href="http://wear.jp/grove_jp/" target="_blank">wear</a></li>
        </ul>
      </div><!-- /.sns -->

      <div class="fnav03 clearfix">
        <a href="https://store.world.co.jp/mail-magazine-search?div=13&br=BR${area.value.option06}&mode=50&link_id=${area.value.option06}_F_mailmagazine"><img src="https://store.world.co.jp/s/brand/grove/common/img/footer_mailmagazine_02.png" width="260" alt="grove MAIL MAGAZINE" /></a>
        <!--<a href="https://www.disney.co.jp/deluxe/AFLP/2002/grove.html?ex_cmp=dis_afl_grove_2002_web&link_id=${area.value.option06}_F_disney" target="_blank"><img src="https://store.world.co.jp/s/brand/grove/common/img/bnr_disney360x130_border.jpg" width="260" alt="disney" style="margin-top: 10px;" /></a>-->
          <link href="https://store.world.co.jp/s/brand/grove/common/css/stage_rank.css" rel="stylesheet" type="text/css">
          <!-- 会員ランク読み込み -->
          <div class="wrap_stage">
            <div id="l_stage" class="clearfix not_login">
            <a href="https://store.world.co.jp/stage/?link_id=768_L_stage_brand">
            <div>
            <div>ステージ別サービス<br>あなたはサービス未登録です</div>
            <em>登録により各種特典をお楽しみください。詳しくはこちら</em>           
            </div>
            </a></div>
            </div>
          <!-- 会員ランク読み込み// -->
        
      </div><!-- /.fnav03 -->
    </div><!-- /.footer_inner -->

    <div class="fnav-wos">
      <ul>
        <li><a href="https://store.world.co.jp/?link_id=${area.value.option06}_F_wos">ワールド オンラインストア</a></li>
        <li><a href="https://store.world.co.jp/member/?link_id=${area.value.option06}_F_wpc">ワールド プレミアムクラブ</a></li>
        <li><a href="https://store.world.co.jp/help/?link_id=${area.value.option06}_F_wfaq">お客様窓口</a></li>
        <li><a href="http://corp.world.co.jp/?link_id=${area.value.option06}_F_wcompany" target="_blank">企業情報</a></li>
        <li><a href="https://store.world.co.jp/sitepolicy/?link_id=${area.value.option06}_F_wpolicy">サイトポリシー</a></li>
        <li><a href="https://store.world.co.jp/privacypolicy/?link_id=${area.value.option06}_F_wprivacy">プライバシーポリシー</a></li>
        <li><a href="https://store.world.co.jp/terms/?link_id=${area.value.option06}_F_terms">利用規約</a></li>
        <li><a href="http://corp.world.co.jp/recruit/?link_id=${area.value.option06}_F_wrecruit" target="_blank">採用情報</a></li>
      </ul>
    </div>

    <p id="copyright">Copyrights &copy; WORLD CO.,LTD. All rights reserved.</p>

  </div><!-- /.footer_whole -->
</div><!-- /#footer -->

<!-- #sizelist -->
<div style="display: none;">
  <div id="sizelist">
    <h2>SIZE LIST</h2>
    <table cellspacing="0" summary="サイズ表" cellpadding="0" style="margin: 0 0 5px 0;">
      <tbody>
        <tr>
          <th class="row" width="25%">ブランド表記サイズ<br />
          共通サイズ</th>
          <td width="25%"><strong>36<br />
          (S)</strong></td>
          <td width="25%"><strong>38<br />
          (M)</strong></td>
          <td width="25%"><strong>40<br />
          (L)</strong></td>
        </tr>
        <tr>
          <th class="row">身長</th>
          <td>157</td>
          <td>161</td>
          <td>164</td>
        </tr>
        <tr>
          <th class="row">バスト</th>
          <td>80</td>
          <td>83</td>
          <td>86</td>
        </tr>
        <tr>
          <th class="row">ウエスト</th>
          <td>61</td>
          <td>64</td>
          <td>67</td>
        </tr>
        <tr>
          <th class="row">ヒップ</th>
          <td>86</td>
          <td>89</td>
          <td>92</td>
        </tr>
      </tbody>
    </table>
  </div>
</div><!-- /#sizelist -->