---

---

<!-- #grove-header -->
<div id="grove-header">

  <!-- <m:include m:path="/SP/s/brand/grove/_DEFAULT/hdnews.inc" /> -->
  
    <!-- block2 -->
    <div class="block2">
      <h1><a href="https://store.world.co.jp/s/brand/grove/?link_id=${area.value.option06}_H_brlogo">grove</a></h1>
      <!-- search area -->
      <div class="hd_search_btn"></div>
  
      <div class="slidesearch">
        <form id="searchform" method="get" action="/s/brand/grove/search">
          <input type="text" placeholder="" class="searchtxt" id="searchtxt" name="fr" value="">
          <input type="image" src="https://store.world.co.jp/res/s/brand/grove/common/img/btn_search.png" class="searchbtn" alt="検索" id="searchBtn" />
          <input type="hidden" name="so" value="NEW">
          <input type="hidden" name="link_id" value="${area.value.option06}_H_search">
          <input type="hidden" name="st" value="1"><!-- 在庫アリパラメータ追加用 -->
        </form>
        <p class="gn-close">CLOSE</p>
      </div>
  
      <!-- Menu area -->
      <div class="menu">menu</div>
  
      <div class="slidemenu">
        <!-- <div class="shopping"> -->
          <!-- <h2>SHOPPING</h2> -->
          <!-- <div class="nav1"> -->
            <ul class="menu-side__items">
              <!-- <li class="is-keyword col__1">
                  <span class="ttl_ja oc-icon">キーワード</span>
                  <ul>
                      <li><a href="https://store.world.co.jp/s/brand/grove/search?so=NEW&ke=gv20230106knit&st=1&un=fku&sst1=2&link=FACET&link_id=${area.value.option06}_H_shopping_keyword01"><span class="ttl_ja">気分を上げる春カラーニット</span></a>
                      </li>
                      <li><a href="https://store.world.co.jp/s/brand/grove/search?so=NEW&ke=gv20230106ou&st=1&un=fku&sst1=2&link=FACET&link_id=${area.value.option06}_H_shopping_keyword02"><span class="ttl_ja">おでかけ冬アウター</span></a>
                      </li>
                      <li><a href="https://store.world.co.jp/s/brand/grove/search?so=NEW&ke=gv20230106bag&st=1&un=fku&sst1=2&link=FACET&link_id=${area.value.option06}_H_shopping_keyword03"><span class="ttl_ja">春の新作BAG</span></a>
                      </li>
                      <li><a href="https://store.world.co.jp/s/brand/grove/topics/size/?link_id=${area.value.option06}_H_shopping_keyword04"><span class="ttl_ja">大きいサイズ／小さいサイズ</span></a>
                      </li>
                  </ul>
              </li> -->
              <!-- <li class="is-ranking col__1">
                  <span class="ttl_ja oc-icon">ランキング</span>
                   <ul>
                       <li><a href="https://store.world.co.jp/s/brand/grove/ranking/?link_id=${area.value.option06}_H_shopping_ranking01"><span class="ttl_ja">すべてのアイテム</span></a>
                       </li>
                       <li><a href="https://store.world.co.jp/s/brand/grove/ranking/WA/?link_id=${area.value.option06}_H_shopping_ranking02"><span class="ttl_ja">アウター</span></a>
                       </li>
                       <li><a href="https://store.world.co.jp/s/brand/grove/ranking/WB/?link_id=${area.value.option06}_H_shopping_ranking03"><span class="ttl_ja">トップス</span></a>
                       </li>
                       <li><a href="https://store.world.co.jp/s/brand/grove/ranking/WB/WB06/?link_id=${area.value.option06}_H_shopping_ranking04"><span class="ttl_ja">カーディガン</span></a>
                       </li>
                       <li><a href="https://store.world.co.jp/s/brand/grove/ranking/WE/?link_id=${area.value.option06}_H_shopping_ranking05"><span class="ttl_ja">パンツ</span></a>
                       </li>
                       <li><a href="https://store.world.co.jp/s/brand/grove/ranking/WD/?link_id=${area.value.option06}_H_shopping_ranking06"><span class="ttl_ja">スカート</span></a>
                       </li>
                       <li><a href="https://store.world.co.jp/s/brand/grove/ranking/WC/?link_id=${area.value.option06}_H_shopping_ranking07"><span class="ttl_ja">ワンピース</span></a>
                       </li>
                       <li><a href="https://store.world.co.jp/s/brand/grove/ranking/WN/?link_id=${area.value.option06}_H_shopping_ranking08"><span class="ttl_ja">グッズ</span></a>
                       </li>
                   </ul>
               </li> -->
              <li class="is-ranking col__1"><a href="https://store.world.co.jp/s/brand/grove/ranking/?link_id=${area.value.option06}_H_ranking"><span class="ttl_ja">ランキング</span></a></li>
              <li class="col__2"><a href="https://store.world.co.jp/s/brand/grove/search?so=NEW&sst1=2&link_id=768_H_news"><span class="ttl_ja">新着アイテム</span></a></li>
              <li class="col__2"><a href="https://store.world.co.jp/s/brand/grove/news/?link_id=768_H_news"><span class="ttl_ja">ニュース</span></a></li>
              <li class="col__2"><a href="https://store.world.co.jp/s/brand/grove/snap-search.html?label=BR768&link_id=768_H_snapstyling"><span class="ttl_ja">スタッフスナップ</span></a></li>
              <li class="col__2"><a href="https://store.world.co.jp/s/brand/grove/item-review-search.html?label=BR768&link_id=768_H_itemsnap"><span class="ttl_ja">アイテムスナップ</span></a></li>
              <li class="col__2"><a href="https://store.world.co.jp/s/brand/grove/search?rd=02&so=RCMD&link_id=768_H_preorder"><span class="ttl_ja">プレオーダー</span></a></li>
              <li class="col__2"><a href="https://store.world.co.jp/s/brand/grove/blog-search.html?label_code=BR768&link_id=768_H_shopblog"><span class="ttl_ja">ブログ</span></a></li>
              <li class="col__2"><a href="https://store.world.co.jp/real-store-search?pcf=1&br=BR768,SH030&link_id=768_H_shoplist"><span class="ttl_ja">店舗一覧</span></a></li>
              <li class="col__2"><a href="https://store.world.co.jp/s/brand/grove/concept/?link_id=768_H_concept"><span class="ttl_ja">コンセプト</span></a></li>
              <!-- <li class="not_data"></li> -->
          </ul>
        <!-- </div> -->
        <!-- </div> -->
        <div class="thissite category_nav">
          <h2>CATEGORY</h2>
          <div class="nav2">
            <ul>
              <li><a href="https://store.world.co.jp/s/brand/grove/search?so=NEW&link_id=${area.value.option06}_H_shopping01">すべてのアイテム</a></li>
              <li><a href="https://store.world.co.jp/s/brand/grove/category/WB/?so=NEW&link_id=${area.value.option06}_H_shopping02">トップス</a></li>
              <li><a href="https://store.world.co.jp/s/brand/grove/search?it=WD,WE&so=NEW&link_id=${area.value.option06}_H_shopping03">ボトムス</a></li>
              <li><a href="https://store.world.co.jp/s/brand/grove/category/WC/?so=NEW&link_id=${area.value.option06}_H_shopping04">ワンピース</a></li>
              <li><a href="https://store.world.co.jp/s/brand/grove/search?it=WA,WA&so=NEW&link_id=${area.value.option06}_H_shopping05">アウター</a></li>
              <li><a href="https://store.world.co.jp/s/brand/grove/category/WK/?so=NEW&link_id=${area.value.option06}_H_shopping06">バッグ</a></li>
              <li><a href="https://store.world.co.jp/s/brand/grove/category/WJ/?so=NEW&link_id=${area.value.option06}_H_shopping07">シューズ</a></li>
              <li><a href="https://store.world.co.jp/s/brand/grove/search?it=WN,WL,WP,WO,WF,WM,WM,WT,Q7,WG,WR,WS,AB&so=NEW&link_id=${area.value.option06}_H_shopping08">グッズ</a></li>
              <li><a href="https://store.world.co.jp/s/brand/grove/sale/search?so=NEW&link_id=${area.value.option06}_H_shopping_sale" class="is-sale">セール</a></li>
              <li class="not_data"></li>
            </ul>
          </div>
        </div>
        <!-- <div class="sizelist">
          <div class="tep-size">
            <table border="0" cellspacing="0" cellpadding="0" summary="サイズリスト">
              <tr>
                <th class="ti" scope="col">ブランド表記サイズ<br>共通サイズ</th>
                <th scope="col">身長</th>
                <th scope="col">バスト</th>
                <th scope="col">ウエスト</th>
                <th scope="col">ヒップ</th>
              </tr>
              <tr>
                <td class="ti"><strong>01<br> (S)</strong></td>
                <td>158</td>
                <td>79</td>
                <td>61</td>
                <td>86</td>
              </tr>
              <tr>
                <td class="ti"><strong>02<br> (M)</strong></td>
                <td>160</td>
                <td>82</td>
                <td>64</td>
                <td>89</td>
              </tr>
              <tr>
                <td class="ti"><strong>03<br>(L)</strong></td>
                <td>162</td>
                <td>85</td>
                <td>67</td>
                <td>92</td>
              </tr>
            </table>
          </div>
        </div> -->
        <div class="sns">
          <ul>
            <li class="instagram"><a href="https://www.instagram.com/grove_jp/" target="_blank">Instagram</a></li>
            <li class="line"><a href="https://line.me/R/ti/p/%40pem9992o" target="_blank">line</a></li>
            <li class="tweet"><a href="https://twitter.com/grove_jp" target="_blank">tweet</a></li>
            <li class="wear"><a href="http://wear.jp/grove_jp/" target="_blank">wear</a></li>
          </ul>
        </div>
        <p class="gn-close">CLOSE</p>
      </div><!-- /Menu area -->
    </div><!-- /block2 -->
  
  </div>
  <!-- /#grove-header -->