---

---

<div id="hh_header">
  <!-- SALE帯-->
  <!--24/6/28表示-->
  <!--
  <div class="hdnews" style="background: #e00c0b;">
    <a href="https://store.world.co.jp/s/brand/hirokohayashi/sale/?link_id=709_H_superbnr">
      <img src="https://store.world.co.jp/s/brand/hirokohayashi/top/img/hdnews/2023/26w/spr_bnr_sale.jpg" alt="SALE" />
    </a>
  </div>
   -->
  <!-- header_whole-->
  <div class="header_whole">
    <h1>
      <a href="https://store.world.co.jp/s/brand/hirokohayashi/?link_id=709_H_brlogo" title="HIROKO HAYASHI">
        <svg width="164" height="75.594" viewBox="0 0 164 75.594" role="img" aria-label="HIROKO HAYASHI">
          <path d="M178.015,297.855V285.7h-16.6v12.159h-1.93V271.91h1.93v12.008h16.6V271.91h1.93v25.945Z" transform="translate(-159.483 -271.464)" fill="#222"></path>
          <path d="M182.377,297.855V271.91H184.3v25.945Z" transform="translate(-149.259 -271.464)" fill="#222"></path>
          <path d="M210.444,297.855,202.18,287.1h-8.49v10.752h-1.928V271.91h10.9c5.6,0,9.267,3.037,9.267,7.373v.079c0,4.336-3.224,6.818-7.6,7.41l8.566,11.083ZM210,279.361c0-3.489-2.745-5.673-7.451-5.673H193.69v11.674h8.746c4.34,0,7.564-2.184,7.564-5.928Z" transform="translate(-144.997 -271.464)" fill="#222"></path>
          <path d="M224.634,298.431c-7.858,0-13.01-6.264-13.01-13.341v-.072c0-7.084,5.226-13.421,13.082-13.421s13.009,6.264,13.009,13.346c.037.037.037.037,0,.074C237.715,292.094,232.491,298.431,224.634,298.431Zm11.081-13.412c0-6.417-4.669-11.68-11.081-11.68s-11.008,5.19-11.008,11.606v.074c0,6.41,4.669,11.671,11.079,11.671s11.009-5.188,11.009-11.6Z" transform="translate(-136.049 -271.598)" fill="#222"></path>
          <path d="M255.612,297.855l-10.673-13.122-6.454,6.526v6.6h-1.924V271.91h1.924v17.05l16.535-17.05h2.632l-11.341,11.45,11.824,14.5Z" transform="translate(-124.888 -271.464)" fill="#222"></path>
          <path d="M267.621,298.431c-7.856,0-13.012-6.264-13.012-13.341v-.072c0-7.084,5.228-13.421,13.085-13.421s13.009,6.264,13.009,13.346c.036.037.036.037,0,.074C280.7,292.094,275.477,298.431,267.621,298.431ZM278.7,285.019c0-6.417-4.671-11.68-11.081-11.68s-11.008,5.19-11.008,11.606v.074c0,6.41,4.668,11.671,11.081,11.671S278.7,291.5,278.7,285.09Z" transform="translate(-116.729 -271.598)" fill="#222"></path>
          <path d="M178.015,331.413V319.25h-16.6v12.163h-1.93V305.467h1.93v12h16.6v-12h1.93v25.946Z" transform="translate(-159.483 -256.187)" fill="#222"></path>
          <path d="M201.787,331.47l-3.3-7.271H183.178l-3.3,7.271h-2l12.085-26.134h1.851L203.9,331.47Zm-10.935-24.022-6.858,15.01h13.68Z" transform="translate(-151.215 -256.243)" fill="#222"></path>
          <path d="M208.48,321.107v10.307h-1.928V321.144l-11.118-15.677h2.408l9.713,13.934,9.743-13.934h2.3Z" transform="translate(-143.335 -256.187)" fill="#222"></path>
          <path d="M235.593,331.47l-3.3-7.271H216.99l-3.3,7.271h-2l12.085-26.134h1.85l12.086,26.134Zm-10.935-24.022-6.853,15.01H231.48Z" transform="translate(-136.019 -256.243)" fill="#222"></path>
          <path d="M242.174,331.894a14.763,14.763,0,0,1-10.451-4.148l1.257-1.451a12.587,12.587,0,0,0,9.3,3.857c3.892,0,6.56-2.187,6.56-5.151v-.074c0-2.745-1.443-4.336-7.337-5.52-6.227-1.263-8.75-3.376-8.75-7.307v-.072c0-3.854,3.52-6.822,8.34-6.822a12.956,12.956,0,0,1,8.9,3.15l-1.223,1.519a11.175,11.175,0,0,0-7.748-2.927c-3.817,0-6.337,2.189-6.337,4.892v.077c0,2.741,1.408,4.41,7.56,5.668,6,1.227,8.527,3.376,8.527,7.155v.073C250.774,329,247.175,331.894,242.174,331.894Z" transform="translate(-127.083 -256.299)" fill="#222"></path>
          <path d="M268.188,331.413V319.25h-16.6v12.163h-1.928V305.467h1.928v12h16.6v-12h1.928v25.946Z" transform="translate(-118.862 -256.187)" fill="#222"></path>
          <path d="M270.6,331.413V305.467h1.924v25.946Z" transform="translate(-109.845 -256.187)" fill="#222"></path>
          <path d="M212.679,299.007a.966.966,0,0,1-.963-.961h0a.966.966,0,0,1,.963-.963H236.7a.967.967,0,0,1,.966.963h0a.967.967,0,0,1-.966.961Z" transform="translate(-136.008 -260.211)" fill="#222"></path>
        </svg>
      </a>
    </h1>
    <!-- ALL MENU-->
    <div class="search_btn">
      <svg width="26.207" height="26.207" viewBox="0 0 26.207 26.207">
        <g transform="translate(-4.293 -4.818)">
          <circle cx="10" cy="10" r="10" transform="translate(10 5.318)" fill="none" stroke="#222" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"></circle>
          <line y1="7.641" x2="7.641" transform="translate(5 22.676)" fill="none" stroke="#222" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"></line>
        </g>
      </svg>
    </div>
    <div class="search_btn_on"><span class="bar bar_1"></span><span class="bar bar_3"></span></div>
    <div class="menu"><span class="bar bar_1"></span><span class="bar bar_2"></span><span class="bar bar_3"></span></div>
    <!-- /ALL MENU-->
    <div class="slidebox">
      <div class="header_inner">
        <div class="header_inner_wrap">
          <div class="glnav-it">
            <div class="glnav-it__type">ITEM</div>
            <div class="glnav-it__wrap">
              <div class="subnav-blk">
                <a class="subnav-blk__type is-hasChild">バッグ</a>
                <div class="js-subnav">
                  <div class="subnav-blk__wrap">
                    <div class="subnav-it is-full"><a class="subnav-it__link" href="https://store.world.co.jp/s/brand/hirokohayashi/search?st=1&un=fku&it=WK01,WK02,WK03,WK04,WK05,WK06,WK07,WK08&link_id=${area.value.option06}_H_bagall">すべて見る</a></div>
                    <div class="subnav-it"><a class="subnav-it__link" href="https://store.world.co.jp/s/brand/hirokohayashi/search?st=1&un=fku&ke=totebag&link_id=${area.value.option06}_H_tote">トートバッグ</a></div>
                    <div class="subnav-it"><a class="subnav-it__link" href="https://store.world.co.jp/s/brand/hirokohayashi/search?st=1&un=fku&ke=shoulderbag&link_id=${area.value.option06}_H_shoulder">ショルダーバッグ</a></div>
                    <div class="subnav-it"><a class="subnav-it__link" href="https://store.world.co.jp/s/brand/hirokohayashi/search?st=1&un=fku&ke=handbag&link_id=${area.value.option06}_H_hand">ハンドバッグ</a></div>
                    <div class="subnav-it"><a class="subnav-it__link" href="https://store.world.co.jp/s/brand/hirokohayashi/search?st=1&un=fku&ke=ruck&link_id=${area.value.option06}_H_rucksack">リュック</a></div>
                    <div class="subnav-it"><a class="subnav-it__link" href="https://store.world.co.jp/s/brand/hirokohayashi/search?st=1&un=fku&ke=bostonbag&link_id=${area.value.option06}_H_bostonbag">ボストンバッグ</a></div>
                    <div class="subnav-it"><a class="subnav-it__link" href="https://store.world.co.jp/s/brand/hirokohayashi/search?st=1&un=fku&ke=leather&link_id=${area.value.option06}_H_leather">レザーバッグ</a></div>
                    <div class="subnav-it"><a class="subnav-it__link" href="https://store.world.co.jp/s/brand/hirokohayashi/search?st=1&un=fku&ke=fabric&link_id=${area.value.option06}_H_fabric">ファブリックバッグ</a></div>
                    <div class="subnav-it"></div>
                  </div>
                </div>
              </div>
              <div class="subnav-blk">
                <a class="subnav-blk__type is-hasChild">財布</a>
                <div class="js-subnav">
                  <div class="subnav-blk__wrap">
                    <div class="subnav-it is-full"><a class="subnav-it__link" href="https://store.world.co.jp/s/brand/hirokohayashi/category/WK/WK13/?st=1&un=fku&link_id=${area.value.option06}_H_walletall">すべて見る</a></div>
                    <div class="subnav-it"><a class="subnav-it__link" href="https://store.world.co.jp/s/brand/hirokohayashi/search?st=1&un=fku&ke=longwallet3&link_id=${area.value.option06}_H_longwallet">長財布</a></div>
                    <div class="subnav-it"><a class="subnav-it__link" href="https://store.world.co.jp/s/brand/hirokohayashi/search?st=1&un=fku&ke=longwallet4&link_id=${area.value.option06}_H_longwalletmini">長財布ミニ</a></div>
                    <div class="subnav-it"><a class="subnav-it__link" href="https://store.world.co.jp/s/brand/hirokohayashi/search?st=1&un=fku&ke=multiwallet&link_id=${area.value.option06}_H_multi">マルチ財布(MINIMO)</a></div>
                    <div class="subnav-it"><a class="subnav-it__link" href="https://store.world.co.jp/s/brand/hirokohayashi/search?st=1&un=fku&ke=wallet2%2Cwallet18%2Czipwallet2&link_id=${area.value.option06}_H_fold">二つ折り財布</a></div>
                    <div class="subnav-it"><a class="subnav-it__link" href="https://store.world.co.jp/s/brand/hirokohayashi/search?st=1&un=fku&ke=wallet8&link_id=${area.value.option06}_H_fold3">三つ折り財布</a></div>
                    <div class="subnav-it"><a class="subnav-it__link" href="https://store.world.co.jp/s/brand/hirokohayashi/search?st=1&un=fku&ke=coincase&link_id=${area.value.option06}_H_coincase">小銭入れ</a></div>
                    <div class="subnav-it is-bnr">
                      <div class="nav-bnr">
                        <a class="nav-bnr__link" href="https://store.world.co.jp/s/brand/hirokohayashi/topics/saifubu/?link_id==709_H_hirokosaifubu">
                          <p class="nav-bnr__txt">人それぞれの財布の使い方を紹介し交流するサロン</p><img src="https://store.world.co.jp/res/s/brand/hirokohayashi/common/img/footer/fbnr_saifubu.jpg" alt="ヒロコ財布部" />
                        </a>
                      </div>
                    </div>
                    <div class="subnav-it is-bnr">
                      <div class="nav-bnr">
                        <a class="nav-bnr__link" href="https://store.world.co.jp/s/brand/hirokohayashi/topics/wallet/?link_id=709_H_wallet">
                          <p class="nav-bnr__txt">長財布のディテールを詳しく紹介。お買い物のヒントはこちら</p><img src="https://store.world.co.jp/res/s/brand/hirokohayashi/common/img/footer/fbnr_directory_20191128.jpg" alt="Directory of WALLET" />
                        </a>
                      </div>
                    </div>
                    <div class="subnav-it is-bnr">
                      <div class="nav-bnr">
                        <a class="nav-bnr__link" href="https://store.world.co.jp/s/brand/hirokohayashi/topics/calendar/?link_id=709_H_calendar" target="_blank" rel="noreferrer">
                          <p class="nav-bnr__txt">お財布の買い替えや使い始めにおすすめの日をチェック</p><img src="https://store.world.co.jp/res/s/brand/hirokohayashi/common/img/footer/fbnr_luckydaycalendar.jpg" alt="LUCKY DAY Calendar" />
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="subnav-blk">
                <a class="subnav-blk__type is-hasChild">その他のアイテム</a>
                <div class="js-subnav">
                  <div class="subnav-blk__wrap">
                    <div class="subnav-it is-full"><a class="subnav-it__link" href="https://store.world.co.jp/s/brand/hirokohayashi/search?st=1&un=fku&ke=cardcase,passcase,keycase,mobilecase,pouch,scarf,gloves,Accessories,coat,other&link_id=${area.value.option06}_H_otherall">すべて見る</a></div>
                    <div class="subnav-it"><a class="subnav-it__link" href="https://store.world.co.jp/s/brand/hirokohayashi/search?st=1&un=fku&ke=cardcase%2Cpasscase&link_id=${area.value.option06}_H_cardcase">カード・名刺入れ</a></div>
                    <div class="subnav-it"><a class="subnav-it__link" href="https://store.world.co.jp/s/brand/hirokohayashi/search?st=1&un=fku&ke=keycase&link_id=${area.value.option06}_H_keycase">キーケース</a></div>
                    <div class="subnav-it"><a class="subnav-it__link" href="https://store.world.co.jp/s/brand/hirokohayashi/search?st=1&un=fku&ke=mobilecase&link_id=${area.value.option06}_H_mobilecase">モバイルケース</a></div>
                    <div class="subnav-it"><a class="subnav-it__link" href="https://store.world.co.jp/s/brand/hirokohayashi/search?st=1&un=fku&ke=pouch&link_id=${area.value.option06}_H_pouch">ポーチ</a></div>
                    <div class="subnav-it"><a class="subnav-it__link" href="https://store.world.co.jp/s/brand/hirokohayashi/search?st=1&un=fku&ke=Accessories&link_id=${area.value.option06}_H_accessories">アクセサリー</a></div>
                    <div class="subnav-it"><a class="subnav-it__link" href="https://store.world.co.jp/s/brand/hirokohayashi/search?st=1&un=fku&ke=coat,scarf&link_id=${area.value.option06}_H_coat">コート・マフラー</a></div>
                  </div>
                </div>
              </div>
              <div class="subnav-blk"><a class="subnav-blk__type" href="https://store.world.co.jp/s/brand/hirokohayashi/search?st=1&un=fku&so=NEW&link_id=${area.value.option06}_H_newin">NEW IN</a></div>
              <div class="subnav-blk"><a class="subnav-blk__type" href="https://store.world.co.jp/s/brand/hirokohayashi/item/ranking/?link_id=${area.value.option06}_H_ranking">RANKING</a></div>
              <div class="subnav-blk"><a class="subnav-blk__type" href="https://store.world.co.jp/s/brand/hirokohayashi/stylesnap/?link_id=${area.value.option06}_H_stylesnap">STAFF SNAP</a></div>
              <div class="subnav-blk"><a class="subnav-blk__type" href="https://store.world.co.jp/s/brand/hirokohayashi/sale/?link_id=${area.value.option06}_H_sale" style="color:#CC0000 !important;">SALE</a></div>
            </div>
          </div>
          <div class="glnav-it">
            <div class="glnav-it__type">BRAND</div>
            <div class="glnav-it__wrap">
              <div class="subnav-blk"><a class="subnav-blk__type" href="https://store.world.co.jp/s/brand/hirokohayashi/catalog/2024/aw/?link_id=${area.value.option06}_H_catalog">A/W 2024</a></div>
              <div class="subnav-blk"><a class="subnav-blk__type" href="https://store.world.co.jp/s/brand/hirokohayashi/topics/?link_id=${area.value.option06}_H_feature">FEATURE</a></div>
              <div class="subnav-blk"><a class="subnav-blk__type" href="https://store.world.co.jp/s/brand/hirokohayashi/news/?link_id=${area.value.option06}_H_news">NEWS</a></div>
              <div class="subnav-blk"><a class="subnav-blk__type" href="https://store.world.co.jp/s/brand/hirokohayashi/blog-search.html?label_code=BR709&link_id=${area.value.option06}_H_blog">BLOG</a></div>
              <div class="subnav-blk"><a class="subnav-blk__type" href="https://store.world.co.jp/s/brand/hirokohayashi/blog/?link_id=${area.value.option06}_H_concept">CONCEPT</a></div>
              <div class="subnav-blk"><a class="subnav-blk__type" href="https://store.world.co.jp/real-store-search?pcf=1&br=BR709&link_id=${area.value.option06}_H_shoplist" target="_blank">SHOP LIST</a></div>
              <div class="subnav-blk"><a class="subnav-blk__type" href="https://store.world.co.jp/mail-magazine-search?div=13&br=BR709&link_id=${area.value.option06}_H_newsletter" target="_blank">MAIL MAGAZINE</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- #search_modal-->
    <div id="search_modal">
      <div class="search_modal_inner">
        <form id="searchform" method="get" action="/s/brand/hirokohayashi/search">
          <input class="searchTxt" id="searchtxt" type="text" placeholder="何をお探しですか？" name="fr" value="" />
          <label class="btn_search">
            <input type="submit" alt="SEARCH" />
            <div class="search-ico">
              <svg width="26.207" height="26.207" viewBox="0 0 26.207 26.207">
                <g transform="translate(-4.293 -4.818)">
                  <circle cx="10" cy="10" r="10" transform="translate(10 5.318)" fill="none" stroke="#222" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"></circle>
                  <line y1="7.641" x2="7.641" transform="translate(5 22.676)" fill="none" stroke="#222" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"></line>
                </g>
              </svg>
            </div>
          </label>
          <input type="hidden" name="st" value="1" />
          <input type="hidden" name="un" value="fku" />
          <input type="hidden" name="link_id" value="709_H_search" />
        </form>
        <div class="hrk-keyword">
          <div class="hrk-keyword__it">
            <a class="hrk-keyword__link" href="https://store.world.co.jp/s/brand/hirokohayashi/search?st=1&un=fku&ta=DE35&link_id=709_M_keyword_01">#A4サイズ収納可バッグ</a>
          </div>
          <div class="hrk-keyword__it">
            <a class="hrk-keyword__link" href="https://store.world.co.jp/s/brand/hirokohayashi/search?fr=GIRASOLE&st=1&un=fku&link_id=709_M_keyword_02">#GIRASOLE</a>
          </div>
          <div class="hrk-keyword__it">
            <a class="hrk-keyword__link" href="https://store.world.co.jp/s/brand/hirokohayashi/search?st=1&un=fku&link_id=709_H_search&fr=WEB&link_id=709_M_keyword_03">#WEB限定</a>
          </div>
          <div class="hrk-keyword__it">
            <a class="hrk-keyword__link" href="https://store.world.co.jp/s/brand/hirokohayashi/stylesnap/?link_id=709_M_keyword_04">#STAFF SNAP</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
